In [1]:
from utils.query_db import db_connection

### **COUNT** function

Acts like a function only, counts the number or rows in a specifict column.

In [2]:
with db_connection() as conn:
    conn.fetch_all("SELECT COUNT(first_name) from actor;")

   count
0    200

Possible to specify `*` as a parameter to return the number of rows in the table. It's the same as specifying a specific column.

In [3]:
with db_connection() as conn:
    conn.fetch_all("SELECT COUNT(*) from actor;")

   count
0    200

Can be nested with **`DISTINCT`**.

In [4]:
with db_connection() as conn:
    conn.fetch_all("SELECT COUNT(DISTINCT(first_name)) from actor;")

   count
0    128

In [5]:
with db_connection() as conn:
    conn.fetch_all("SELECT COUNT(DISTINCT(amount)) from payment;")

   count
0     19