### **`now`** Function

#### Description
The PostgreSQL **`now`** function returns the current date and time with the time zone.

#### Syntax
The syntax for the **`now`** function in PostgreSQL is:
```
now()
```

#### Parameters or Arguments
There are no parameters or arguments for the now function.

#### Note
* The now function will return the current date as a `YYYY-MM-DD HH:MM:SS.US+TZ` format.

In [1]:
from utils.query_db import db_connection

with db_connection() as conn:
    conn.fetch_all("""SELECT now();""")

                               now
0 2023-03-21 15:49:57.513732+00:00

**Note**: The above implies that the timezone of our Postgres instance is set to UTC (or equivallent), which we can confirm by executing `SHOW timezone;`.

In [2]:
with db_connection() as conn:
    conn.fetch_all("""SHOW timezone;""")

  TimeZone
0  Etc/UTC

### **`current_date`** Function

#### Description
The PostgreSQL **`current_date`** function returns the current date.

#### Syntax
The syntax for the **`current_date`** function in PostgreSQL is:
```
current_date
```

#### Parameters or Arguments
There are no parameters or arguments for the now function.

#### Note
* The **`current_date`** function will return the current date as a `YYYY-MM-DD` format.
* Do not put parentheses () after the **`current_date`** function.

In [3]:
with db_connection() as conn:
    conn.fetch_all("""SELECT current_date;""")

  current_date
0   2023-03-21

**Note**: You can perform algebra with the result of **`current_date`** to add/substract days

In [4]:
with db_connection() as conn:
    conn.fetch_all("""SELECT current_date + 100 AS future_date;""")

  future_date
0  2023-06-29

### **`current_time`** Function

#### Description
The PostgreSQL **`current_time`** function returns the current time with the time zone.

#### Syntax
The syntax for the **`current_time`** function in PostgreSQL is:
```
current_time( [ precision ] )
```

#### Parameters or Arguments
* *`precision`* - Optional. The number of digits to round the fractional seconds to.

#### Note
* The **`current_time`** function will return the current time of day as a `HH:MM:SS.US+TZ` format.
* Do not put parentheses () after the **`current_time`** function when the *`precision`* parameter is not specified.

In [5]:
with db_connection() as conn:
    conn.fetch_all("""SELECT current_time;""")

            current_time
0  15:49:57.606365+00:00

In [6]:
with db_connection() as conn:
    conn.fetch_all("""SELECT current_time(0);""")

     current_time
0  15:49:58+00:00

In [7]:
with db_connection() as conn:
    conn.fetch_all("""SELECT current_time(1);""")

            current_time
0  15:49:57.600000+00:00

In [8]:
with db_connection() as conn:
    conn.fetch_all("""SELECT current_time(2);""")

            current_time
0  15:49:57.670000+00:00